<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.social.github %}
          <li>
            <a href="https://github.com/{{ site.social.github }}">
              <span>GitHub: {{ site.social.github }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.social.linkedin %}
          <li>
            <a href="https://linkedin.com/in/{{ site.social.linkedin }}">
              <span>LinkedIn: {{ site.social.linkedin }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.social.bluesky %}
          <li>
            <a href="https://bsky.app/profile/{{ site.social.bluesky }}">
              <span>Bluesky: @{{ site.social.bluesky }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>
            <a href="{{ '/feed.xml' | relative_url }}">
              <span>RSS Feed</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-copyright">
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.author.name }}. All rights reserved.</p>
      <p>Content licensed under <a href="{{ '/LICENSE' | relative_url }}">proprietary license</a>.</p>
    </div>
  </div>
</footer>
